body.fleetbase-portal {
    overflow-y: scroll;
}

body[data-theme='dark'].fleetbase-portal {
    color: #e5e7eb;
}

.fleetbase-portal .portal-container {
    width: 100%;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    background-color: #f9fafb;
}

body[data-theme='dark'].fleetbase-portal .portal-container {
    background-color: #111827;
}

.fleetbase-portal .portal-container > .portal-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px #d1d5db solid;
    border-radius: 0.75rem;
    padding: 0.5rem 1rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    background-color: #f9fafb;
    margin-bottom: 1rem;
}

body[data-theme='dark'].fleetbase-portal .portal-container > .portal-header {
    border: 1px #374151 solid;
    background-color: #111827;
}

.fleetbase-portal .portal-container > .portal-main {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 0.75rem;
    min-height: 100%;
    height: 100%;
}

.fleetbase-portal .portal-container > .portal-main > .portal-sidebar {
    grid-column: span 2 / span 2;
    padding: 1rem 0 0 0.75rem;
}

.fleetbase-portal .portal-container > .portal-main > .portal-sidebar > .next-nav-item {
    display: flex;
    align-items: center;
    border: 1px transparent solid;
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    margin-bottom: 0.5rem;
}

.fleetbase-portal .portal-container > .portal-main > .portal-sidebar > .next-nav-item > .next-nav-item-icon-container {
    display: flex;
    width: 1.5rem;
}

.fleetbase-portal .portal-container > .portal-main > .portal-sidebar > .next-nav-item:last-child {
    margin-bottom: 0;
}

.fleetbase-portal .portal-container > .portal-main > .portal-sidebar > .next-nav-item:hover {
    background-color: #f3f4f6;
    opacity: 0.75;
}

body[data-theme='dark'].fleetbase-portal .portal-container > .portal-main > .portal-sidebar > .next-nav-item:hover {
    background-color: rgb(34 41 56 / 50%);
    opacity: 1;
}

.fleetbase-portal .portal-container > .portal-main > .portal-sidebar > .next-nav-item.active {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    border: 1px #d1d5db solid;
    background-color: #fff;
}

body[data-theme='dark'].fleetbase-portal .portal-container > .portal-main > .portal-sidebar > .next-nav-item.active {
    border: 1px #374151 solid;
    background-color: #1f2937;
}

.fleetbase-portal .portal-container > .portal-main > .portal-section {
    grid-column: span 10 / span 10;
    margin: 1rem 1rem 1rem 0;
}

.fleetbase-portal .portal-container .portal-content-wrapper {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    border: 1px #d1d5db solid;
    border-radius: 0.5rem;
    background-color: #fff;
    padding: 0.75rem;
}

body[data-theme='dark'].fleetbase-portal .portal-container .portal-content-wrapper {
    border: 1px #374151 solid;
    background-color: #1f2937;
}

.fleetbase-portal .portal-container > .portal-header > .portal-header-left,
.fleetbase-portal .portal-container > .portal-header > .portal-header-right {
    flex: 1;
}

.fleetbase-portal .portal-container > .portal-header > .portal-header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.fleetbase-portal .portal-container > .portal-main > .portal-sidebar .portal-user-menu {
    margin-bottom: 0.5rem;
    border: 1px transparent solid;
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    background-color: transparent;
}

.fleetbase-portal .portal-container > .portal-main > .portal-sidebar .portal-user-menu:hover {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    background-color: #f3f4f6;
}

body[data-theme='dark'].fleetbase-portal .portal-container > .portal-main > .portal-sidebar .portal-user-menu:hover {
    background-color: rgb(34 41 56 / 50%);
}

.fleetbase-portal .portal-container > .portal-main > .portal-sidebar .portal-user-menu .portal-user-avatar-container {
    height: 3rem;
    width: 3rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    border-radius: 0.5rem;
    margin-right: 0.5rem;
}

.fleetbase-portal .portal-container > .portal-main > .portal-sidebar .portal-user-menu .portal-user-avatar-container > .portal-user-avatar {
    height: 3rem;
    width: 3rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
}
